<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    {{#if user}}
    <script src="/js/refreshPrice.js"></script>
    <script src="/js/chat.js"></script>
    {{/if}}
    <script src="/bundle.js" ></script>
    <title>micro eBay</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">micro eBay</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/auctions">Auctions</a></li>
            {{#if user}}
              <li><a href="/addauction">Add auction</a></li>
              <li><a href="/mybids">My bids</a></li>
              <li><a id="messagesMenu" href="/chat">Messages</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
              <b style="line-height:50px;">Hello <span id="userLogin">{{user.username}}</span></b>
            {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Register</a></li>
            {{/if}}
          </ul>
        </div>
    </div>
</nav>
<div class="container">
      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success" style="margin-top:20px;">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger" style="margin-top:20px;">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger" style="margin-top:20px;">{{error}}</div>
          {{/if}}
          <span id="loggedUserId" style="display:none">{{user._id}}</span>
          {{{body}}}
        </div>

        
        </div>

</div>
</body>
</html>